<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<link rel="stylesheet" href="/css/bootLogin.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div id="login">
    <h3 class="text-center text-white pt-5">Register form</h3>
    <div style="display: flex; justify-content: center;">
      <% if (errors.length>0) { %> <%=errors%> <% } %>
    </div>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" action="/" method="POST">
              <h3 class="text-center text-info">Sign-up</h3>
              <div class="form-group">
                <label for="username" class="text-info">UserName:</label><br />
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="name" class="text-info">Name:</label><br />
                <input type="text" name="name" id="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="email" class="text-info">Email:</label><br />
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="address" class="text-info">Address:</label><br />
                <input
                  type="text"
                  name="number"
                  id="number"
                  class="form-control"
                  placeholder="Street Number"
                />
                <input
                  type="text"
                  name="city"
                  id="city"
                  class="form-control"
                  placeholder="city"
                />
                <input
                  type="text"
                  name="state"
                  id="state"
                  class="form-control"
                  placeholder="state"
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  name="submit"
                  class="btn btn-info btn-md"
                  value="submit"
                />
              </div>
              <div id="login-link" class="text-right">
                <a href="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
